.sign-in-btn {
	font-weight: bold;
}

a.text-success:hover {
	color: limegreen!important;
}

.w-15 {
	width: 15%;
	min-width: 125px!important;
	max-width: 200px!important;
	white-space: initial;
}

.form-control {
	font-size: 1.1em;
}

.description-vote {
	font-size: 1.1em;
}

.rd-size {
	height:25px; 
	width:25px;
	accent-color: green;
	margin-top: 0!important;
}

@media (min-width: 992px) {
	.fixed-lg{
		width: 720px;
	}
}